aws_region              = "ap-south-1"
project_name            = "portfolio-eks"
cluster_name            = "portfolio-dev-eks"
cluster_version         = "1.31"
vpc_cidr                = "10.10.0.0/16"
availability_zones      = ["ap-south-1a", "ap-south-1b"]
public_subnet_cidrs     = ["10.10.1.0/24", "10.10.2.0/24"]
private_subnet_cidrs    = ["10.10.11.0/24", "10.10.12.0/24"]
node_instance_types     = ["t3.medium"]
